{
  "env": {
    "browser": true,
    "es2017": true
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "prefer-promise-reject-errors": "off"
  }
}
