{
  "env": {
    "browser": true,
    "es2017": true,
    "greasemonkey": true
  },
  "extends": [
    "standard",
    "plugin:userscripts/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "userscripts/align-attributes": ["error", 3],
    "userscripts/compat-grant": ["error", {
      "requireAllCompatible": true
    }]
  }
}
